@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald:wght@700&family=Pacifico&family=Roboto:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--primary);
  color: #ffffff;
}

:root {
  --primary: #794e35;
  --secondary: #b37646;
}

.head {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 10px 5px;
  align-items: center;
  background: #ffffff;
  position: relative;
}

.head h2 {
  color: var(--primary);
  font-weight: 800;
  font-family: sans-serif;
  line-height: 40px;
  font-size: 30px;
}

.head nav {
  list-style-type: none;
  display: flex;
}

.head i {
  display: none;
}

.head nav li {
  margin: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #000010;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 80vh;
  position: relative;
  margin-bottom: 25px;
}

.header img {
  width: 100%;
  height: 100%;
}

.header .header-words {
  background: rgba(187, 79, 16, 0.5);
  display: flex;
  font-family: 'inter';
  color: #fffff1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 20px;
  text-shadow: 2px 2px 31px #000010;
}

.header .header-words span {
  margin: auto;
  text-align: center;
  padding: 10%;
}

.about {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #FFFFF;
  text-align: center;
  font-size: 25px;
  font-family: 'inter';
  margin-bottom: 15px;
}

.abouts {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 10px;
  align-items: center;
  height: auto;
}

img.picture {
  padding: 10px;
  height: 70vh;
  width: 50vw;
}

.words-about {
  text-align: justify;
  margin: 10px;
  font-size: 22px;
  justify-content: flex-end;
  padding: 25px;
  color: #ffffff;
  box-shadow: 2px 2px 4px var(--secondary), 2px 3px 5px var(--primary);
}

.developer {
  display: flex;
  flex-direction: column;
}

.developer-picture {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.aboutme-image {
  display: flex;
  padding: 20px;
}

.aboutme-image img {
  height: 80vh;
  border-radius: 5px;
  margin: auto;
  box-shadow: -2px -2px 7px 4px #b37646;
}

.about-me {
  text-align: center;
  font-size: 20px;
  width: 50%;
  padding: 15px;
}

.hire-me {
  display: flex;
  text-decoration: none;
}

.hire-me-text {
  background: var(--secondary);
  padding: 10px 20px;
  margin: auto;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.developer .hire-me:hover {
  color: antiquewhite;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app > * {
  flex: 1 1 38%;
}

.app .flexz-app {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.app .flexz {
  position: relative;
  display: flex;
  margin: 10px;
}

.flexz img {
  width: 100%;
  height: auto;
}

.flexz .flexz-words {
  position: absolute;
  top: 5%;
  bottom: 5%;
  right: 5%;
  left: 5%;
  padding: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.4),
    var(--secondary)
  );
}

.linking {
  color: #ffffff;
  text-decoration: none;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--primary));
  padding: 10px 15px;
}

.social {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 25px 0p;
}

.social .highlight {
  font-size: 25px;
  padding: 5px;
  border-radius: 10%;
  margin: 10px;
  color: #ffffff;
}

.social .highlight:hover {
  color: #ffffff;
  transform: translateY(-4px);
}

.hr {
  background: linear-gradient(rgb(155, 136, 97), rgb(182, 131, 65));
  height: 20px;
  width: 100%;
  margin: 10px 0px;
}

.copyright {
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
}

/* media queries */

@media only screen and (max-width: 700px) {
  .head nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 0;
    background: #ffffff;
    z-index: 1;
    width: 60%;
    height: 100vh;
    border-left: 1px solid #794e35;
    transition: all 0.6s ease-in;
  }

  nav.show {
    display: flex;
  }

  .head i {
    display: block;
    color: #000010;
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
  }

  .developer-picture {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .abouts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 20px 10px;
    align-items: center;
    height: auto;
  }

  img.picture {
    padding: 10px;
    height: 50vh;
    width: 80vw;
  }

  .words-about {
    text-align: center;
    margin: 10px;
    font-size: 20px;
    justify-content: flex-end;
    padding: 20px;
    color: #ffffff;
    box-shadow: 2px 2px 4px var(--secondary), 2px 3px 5px var(--primary);
  }

  .aboutme-image img {
    max-width: 100%;
    height: auto;
  }

  .about-me {
    text-align: center;
    width: 100%;
  }

  .app {
    display: flex;
    flex-direction: column;
  }

  .flexz {
    display: flex;
  }

  .flexz img {
    width: 100%;
    height: auto;
  }

  .flexz .flexz-words {
    right: 5%;
    left: 5%;
  }
}
